# python byte code and caches
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/
.cache/
.ipynb_checkpoints
*venv/
.coverage
pip-wheel-metadata/
htmlcov/

# env files
*.env

# python disttools
dist
*.egg-info

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
build/
.scannerwork/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Atom's tags
.tags
.tags_swap

# VS code tags
.vscode/

# minishift cache and configs
/**/.minishift

# minikube cache and configs
/**/.kube

# helm cache and configs
/**/.helm

# helm chart dependencies
/helmchart/aps/charts/

test_bucket_access.py

terraform/.terraform*
terraform/*.tfstate
terraform/services/*/.terraform*
terraform/services/*/*.tfstate
